<!-- CUSTOM JS!!! -->
<script src="/resources/common/js/default.js"></script>
<script src="/resources/common/js/user.js"></script>

<script>
    let refreshToken = localStorage.getItem("refreshToken");
    $(".nav_tbuser_login").removeClass("hide");
    $(".nav_tbuser_login").addClass("hide");
    if(isNull(refreshToken)){
        //로그인 이전
        $(".nav_tbuser_login_before").removeClass("hide");
    } else {
        //로그인 이후
        $(".nav_tbuser_login_after").removeClass("hide");
    }
</script>
<script>
    function hideSkeletonItem(){
        let skeletonItem = $('.skeleton_item');
        for(let each of skeletonItem){
            $(each).removeClass('skeleton_item');
            $(each).addClass('load');
        }
    }
</script>