<footer class="footer">
    <div class="footer_cont">
        <img src="/resources/frontuser/assets/images/footer_tit.svg" class="footer_tit" alt="">
        <div class="footer_info">
            <div class="footer_info_set">
                <span class="footer_info_item">디지털네이티브스 주식회사</span>
            </div>
            <div class="footer_info_set">
                <span class="footer_info_item">대표 김동규</span>
                <span class="footer_info_item">서울시 강남구 선릉로 551 5층</span>
            </div>
            <div class="footer_info_set">
                <span class="footer_info_item">사업자등록번호 628-81-02391</span>
                <span class="footer_info_item">통신판매업 신고번호 2021-서울강남-06131</span>
            </div>
        </div>
        <div class="footer_info">
            <div class="footer_info_set">
                <span class="footer_info_item"><a href="" class="fwB">서비스 이용 약관</a></span>
                <span class="footer_info_item"><a href="" class="fwB">개인정보처리방침</a></span>
            </div>
        </div>
    </div>
    <img src="/resources/frontuser/assets/images/logo_footer.svg" alt="" class="footer_logo">
</footer>

<!--[D] 모바일 이용불가 안내 팝업-->
<div class="modal mobile_alert" onclick="close_modal(this)">
    <div class="modal_inner">
        <div class="modal_cont ty_small">
            <div class="taC">
                <div class="modal_ico mb20">
                    <img src="/resources/frontuser/assets/images/ico_alert.svg" alt="">
                </div>
                <div class="modal_txt">
                    <p class="modal_tit fc_font fz_6">fym은 PC에서 이용할 수 있어요</p>
                    <p class="modal_desc fc_darkGrey fz_5">모바일에서는 상세 매체 정보, 소재 라이브러리 등 fym의 모든 기능을 상세히 이용할 수 없어요</p>
                </div>
                <div class="modal_bot mt40">
                    <button class="f_btn ty_big _blue w100" onclick="close_modal(this)">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>