<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FYM</title>

<link rel="shortcut icon" href="/resources/frontuser/assets/images/logo.svg">

<link rel="stylesheet" href="/resources/frontuser/assets/css/common.min.css">
<link rel="stylesheet" href="/resources/frontuser/assets/css/swiper-bundle.min.css">
<script type="text/javascript" src="/resources/frontuser/assets/js/common.js"></script>
<script type="text/javascript" src="/resources/frontuser/assets/js/swiper.min.js"></script>

    <!---->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

    <!-- CUSTOM JS -->
    <script src="/resources/common/js/handlebars.min.js"></script>
    <!-- CUSTOM CSS -->
    <link href="/resources/common/css/style.css" rel="stylesheet">

<style>
    .hide{
        display: none;
    }
</style>

