<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
username :
<input type="text" id="create_tbuser_username" />
password :
<input type="text" id="create_tbuser_password" />
<button onclick="login()">login</button>
<br/>
<br/>
refreshToken :
<input type="text" id="create_tbuser_refreshToken" />
<button onclick="access()">access</button>



<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js" integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
<!--주의!!! 배포 전 꼭 변경하셔야 합니다!-->
<script>
    Kakao.init('b950fef568ed9337913c6fde336ed3f1'); // 사용하려는 앱의 JavaScript 키 입력
</script>
<a id="kakao-login-btn" href="javascript:loginWithKakao()">
    <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222" alt="카카오 로그인 버튼" />
</a>
<p id="token-result"></p>

<script>
    function loginWithKakao() {
        Kakao.Auth.authorize({
            redirectUri: 'http://localhost:8080/tbuser/login/kakao',
        });
    }
</script>

<div style="width: 200px;">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="868730276300-vmg16fubqhgv0g90gdn4t9g1quctjqiq.apps.googleusercontent.com"
         data-login_uri="/tbuser/login/google"
         data-auto_prompt="false"
         data-context="use">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="left">
    </div>
</div>


<script>
    function login(){
        $.ajax({
            url: "/api/tbuser/login",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_tbuser_username").val()
                ,password : $("#create_tbuser_password").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                if(obj_data["id"] === "not matched"){
                    alert("아이디와 비밀번호가 올바르지 않습니다.");
                } else {
                    alert(JSON.stringify(obj_data));

                    $("#create_tbuser_refreshToken").val(obj_data["id"]);
                    localStorage.setItem("refreshToken", obj_data["id"]);

                    //generateAccessToken(obj_data["id"]);
                    //location.replace("/index");
                }
                //alert(JSON.stringify(data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    function access(){
        $.ajax({
            url: "/api/tbuser/access",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("RefreshToken", localStorage.getItem("refreshToken"));
            },
            data: {},
            cache: false,
            success: (obj_data, status, xhr)=>{
                //alert(JSON.stringify(obj_data));
                let accessToken = obj_data["id"];
                localStorage.setItem("accessToken", accessToken);
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>

</body>
</html>